$main-blue: #3f486c;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-blue;
    color: white;
    font-family: "Open Sans", sans-serif;
}

#header {
    #above-arc {
        height: 500px;
        background-color: white;

        #navbar {
            padding: 2rem;
            padding-bottom: 0px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            #main-logo {
                width: 40vw;
            }

            #navbar-links {
                width: 45vw;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 0rem 2rem;

                a {
                    text-decoration: none;
                    color: black;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration-line: underline;
                        text-decoration-thickness: 0.08rem;
                    }
                }
            }
        }

        #pg150-kreta-container {
            display: flex;
            justify-content: space-between;
            margin-left: 40px;
            margin-right: 40px;

            .pg150-kreta-logo {
                margin-top: 2rem;
                height: 80px;
            }
        }

        #main-slider {
            width: 1000px;
        }
    }

    #top-arc {
        height: 600px;
        background-image: radial-gradient(ellipse at center, white 0%, white 70%, transparent calc(70% + 5px));
        background-position: center;
        background-position-y: -350px;
        background-size: 120% 120%;
        background-repeat: no-repeat;
        margin-bottom: -220px;
    }
}

#content {
    background: transparent;
}
